@font-face {
    font-family: LatoRegular;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(fonts/Lato-Bold.ttf);
}

body,
html {
    height: 100% !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

a:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

.lato-regular {
    font-family: LatoRegular !important;
}

.lato-bold {
    font-family: LatoBold !important;
}

.postar-restricao-idade {
    width: 20% !important;
}

.restricao-idade-label,
.tipo-proposta-label {
    width: 100% !important;
    text-align: start !important;
}

.postar-descricao, .postar-comentario {
    height: 8em !important;
}

.postar-titulo {
    width: 100% !important;
}

.postar-titulo-label {
    visibility: hidden !important;
}

.div-postar-tipo {
    width: 30% !important;
}

.div-postar-titulo {
    width: 70% !important;
}

.postar-membro-label {
    width: 100% !important;
    text-align: start !important;
    padding: 0 !important;
}

.adicionar-membro {
    width: 400px !important;
    display: inline-block !important;
}

.adicionar-membro-btn {
    margin: 0 0 0 6px !important;
}

#lista_de_membros,
#adicionar_membro_span,
.categorias-proposta,
.postar_comentario_span {
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    flex-wrap: wrap !important;
}

.comentar-participar-likear-feed {
    display: flex !important;
    flex-direction: row !important;
    justify-content: end !important;
    flex-wrap: wrap !important;
}

.categorias-proposta-item {
    display: inline !important;
    margin: 3px 4px !important;
    background-color: hsl(205,46%,92%) !important;
    color: hsl(205,47%,42%) !important;
    padding: 0.2em 0.3em !important;
    border-radius: 3px !important;
}

.membros_lista,
.membros_lista_amarelo,
.membros_lista_azul,
.membros_lista_bege {
    display: inline !important;
    padding: 0 6px !important;
    border-radius: 25px !important;
    margin: 3px 6px !important;
}

.membros_lista_amarelo,
.membros_lista {
    background-color: #F2E973 !important;
}

.membros_lista_azul {
    background-color: #95e1f0 !important;
}

.membros_lista_bege {
    background-color: #FAD5AB !important;
}

.classe_invisivel {
    visibility: hidden !important;
}

.bg-Projeto {
    background-color: #73d6f2 !important;
}

.bg-Ideia {
    background-color: #f2e973 !important;
}

.bg-Problema {
    background-color: #f27373 !important;
}

.card_de_comentario_titulo {
    text-align: start !important;
}

#comentarios_da_proposta {
    width: 100% !important;
}

.card_de_comentario_subtitulo {
    text-align: start !important;
}

.card_de_comentario_text {
    text-align: justify !important;
}

.botao-like-proposta, .anchor-like-proposta, .botao-like-comentario, .anchor-like-comentario, .botao-favoritar-proposta {
    margin-right: auto !important;
    font-size: 2rem !important;
}

.anchor-like-proposta:hover {
    cursor: pointer !important;
}

.anchor-like-comentario:hover {
    cursor: pointer !important;
}

.anchor-favoritar-proposta:hover {
    cursor: pointer !important;
}

.div-do-like {
    display: block !important;
    text-align: start !important;
}

.tamanho-padrao {
    font-size: 1.2rem !important;
}

button, .descricao-do-card {
    font-size: 1.1rem !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .item-feed {
        width: 95% !important;
    }

    .tipo-titulo {
        display: flex !important;
        flex-direction: column !important;
    }

    .postar-titulo-label {
        height: 0px !important;
    }

    .div-postar-tipo {
        width: 100% !important;
    }

    .div-postar-titulo {
        width: 100% !important;
    }

    .postar-titulo {
        margin-top: -20px !important;
    }

    .background {
        background: url(images/background-para-tela-mobile.png) no-repeat center center fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        height: 100% !important;
    }

    .adicionar-membro-btn {
        margin: 5px 0 0 0 !important;
    }

    .comentar-participar-likear-feed a {
        display: block !important;
        width: 100% !important;
        margin: 5px 0 0 0 !important;
    }

    .comentar-participar-likear-feed {
        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content: end !important;
        flex-wrap: wrap !important;
    }

    .solicitar_participar_butao {
        margin: 0 0 5px 0px !important;
    }

    .anchor-like-proposta, .anchor-like-comentario, anchor-favoritar-proposta {
        text-align: left !important;
    }
}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    .item-feed {
        width: 90% !important;
    }

    .background {
        background: url(images/background-para-tela-grande.png) no-repeat center center fixed;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        height: 100% !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .item-feed {
        width: 85% !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .item-feed {
        width: 80% !important;
    }
}