{% extends "layout.html" %}

{% block title %}
Propostas Arquivadas
{% endblock %}

{% block main %}
<div class="container mx-auto px-auto" style="display: flex; flex-direction: column;"></div>
    <div class="mx-auto mt-3 item-feed lato-regular">
        <div class="div-ordenar-filtrar" style="display: flex;">
            <div class="lato-regular input-de-ordenar" style="display: flex;">
                Ordenar por:
                <div class="form-check" style="margin-left: 15px;">
                    <input class="form-check-input" type="radio" name="ordenar" checked="checked" id="recente" value="recente">
                    <label class="form-check-label lato-regular" for="recente">
                      Recente
                    </label>
                </div>
                <div class="form-check" style="margin-left: 10px;">
                    <input class="form-check-input" type="radio" name="ordenar" id="popular" value="popular">
                    <label class="form-check-label lato-regular" for="popular">
                      Popular
                    </label>
                </div>
            </div>
            <select id="select-ordenar" class="form-select select-ordenar" name="filtrar">
                <option class="lato-regular" selected value="todas">Todas</option>
                {% for categoria, valor in categorias.items() %}
                <option class="lato-regular" value="{{ valor }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="propostas_feed_container" style="display: flex; flex-direction: column;">
        <input type="hidden" name="arquivadas" value="sim">
    </div>
</div>
{% endblock %}