{% extends "layout.html" %}

{% block title %}
Propostas Arquivadas
{% endblock %}

{% block main %}
<div id="feed_container" class="container mx-auto px-auto" style="display: flex; flex-direction: column;">
    <div class="mx-auto mt-3 item-feed lato-regular">
        <div class="div-ordenar-filtrar" style="display: flex;">
            <div class="lato-regular input-de-ordenar" style="display: flex;">
                Ordenar por:
                <div class="form-check" style="margin-left: 15px;">
                    <input class="form-check-input" type="radio" name="ordenar" id="recente" value="recente" checked>
                    <label class="form-check-label lato-regular" for="recente">
                      Recente
                    </label>
                </div>
                <div class="form-check" style="margin-left: 10px;">
                    <input class="form-check-input" type="radio" name="ordenar" id="popular" value="popular">
                    <label class="form-check-label lato-regular" for="popular">
                      Popular
                    </label>
                </div>
            </div>
            <select id="select_ordenar" class="form-select select-ordenar" name="filtrar">
                <option class="lato-regular" selected value="todas">Todas</option>
                {% for categoria, valor in categorias.items() %}
                <option class="lato-regular" value="{{ valor }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <input id="query_arquivada" type="hidden" name="arquivadas" value="sim">
    <div id="propostas_feed_container" style="display: flex; flex-direction: column;">
    </div>
    <div class="mt-5" style="height: 200px;">
        <h1>Você chegou ao fim desta seção :)</h1>
    </div>
</div>
{% endblock %}