{% extends "layout.html" %}

{% block title %}
Feed
{% endblock %}

{% block main %}
<div class="container mx-auto px-auto" style="display: flex; flex-direction: column;">

    {% block postar %}{% endblock %}

    {% for proposta in todas_propostas_nao_privadas %}
    {% set classe_background = "bg-" + proposta.tipo_proposta %}
    <div class="card mx-auto mt-3 item-feed {{ classe_background }}">
        <div class="card-body">
            <h5 class="card-title gothic-bold" style="text-align: start;">{{ proposta.titulo }}</h5>
            {% if proposta.mes_criacao < 10 %}
            <h6 class="card-subtitle mb-2 text-muted gothic" style="text-align: start;">{{ proposta.dia_criacao }}/0{{ proposta.mes_criacao }}/{{ proposta.ano_criacao }}</h6>
            {% else %}
            <h6 class="card-subtitle mb-2 text-muted gothic" style="text-align: start;">{{ proposta.dia_criacao }}/{{ proposta.mes_criacao }}/{{ proposta.ano_criacao }}</h6>
            {% endif %}
            <div class="categorias-proposta">
                {% for categoria in proposta.categorias %}
                <h6 class="card-subtitle mb-2 text-muted categorias-proposta-item gothic">{{ categoria.nome }}</h6>
                {% endfor %}
            </div>
            <p class="card-text" style="text-align: justify;">{{ proposta.descricao }}</p>
            <div class="comentar-participar-feed">
                <a href="#" class="card-link btn btn-info gothic-bold">Comentar</a>
                <a href="#" class="card-link btn btn-primary gothic-bold">Solicitar para participar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}