<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <!-- JQuery -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <!-- Meu javascript -->
  <script src="/static/scripts.js"></script>
  <!-- Meu css -->
  <link rel="stylesheet" href="/static/styles.css">
  <!-- Codificação -->
  <meta charset="UTF-8" />
  <!-- Responsividade -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Título -->
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="background">
  <!-- Navbar do Bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary gothic-bold">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for("index") }}">
        <img src="../static/images/innovation-hub-logo.png" alt="logo" width="30" height="30"
          class="d-inline-block align-text-top" />
        Innovation Hub
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for("index") }}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("feed") }}">Feed</a>
          </li>
        </ul>
        <div class="ml-auto">
          {% if not user.is_authenticated %}
          <button class="btn btn-warning mr-3" type="button" data-bs-toggle="modal" data-bs-target="#registro_modal">
            Cadastrar
          </button>
          <button class="btn btn-info" type="button" data-bs-toggle="modal"
            data-bs-target="#login_modal">Entrar</button>
          {% else %}
          <h5 class="text-light" style="display: inline-block; margin-right: 3px;">Bem vindo&nbsp;{{ user.nome }}</h5>
          <a href="/sair" class="btn btn-danger mr-3" type="button">
            Sair
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  {% if not user.is_authenticated %}
  <!-- Modal do Registro -->
  <div class="modal fade" id="registro_modal" tabindex="-1" aria-labelledby="registro_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title gothic-bold" id="registro_modal_label">Registrar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ url_for("registrar") }}" novalidate>
            {{ formDeRegistro.csrf_token }}
            <div class="mb-2">
              {{ formDeRegistro.email.label(class_="form-label gothic-bold") }}
              {{ formDeRegistro.email(class_="form-control gothic") }}
              {% for error in formDeRegistro.email.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2">
              {{ formDeRegistro.nome.label(class_="form-label gothic-bold") }}
              {{ formDeRegistro.nome(class_="form-control gothic") }}
              {% for error in formDeRegistro.nome.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2">
              {{ formDeRegistro.sobrenome.label(class_="form-label gothic-bold") }}
              {{ formDeRegistro.sobrenome(class_="form-control gothic") }}
              {% for error in formDeRegistro.sobrenome.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2">
              {{ formDeRegistro.nascimento.label(class_="form-label gothic-bold") }}
              {{ formDeRegistro.nascimento(class_="form-control gothic") }}
              {% for error in formDeRegistro.nascimento.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2">
              {{ formDeRegistro.apelido.label(class_="form-label gothic-bold") }}
              {{ formDeRegistro.apelido(class_="form-control gothic") }}
              {% for error in formDeRegistro.apelido.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2">
              {{ formDeRegistro.senha.label(class_="form-label gothic-bold") }}
              {{ formDeRegistro.senha(class_="form-control gothic") }}
              {% for error in formDeRegistro.senha.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2">
              {{ formDeRegistro.confirmar_senha.label(class_="form-label gothic-bold") }}
              {{ formDeRegistro.confirmar_senha(class_="form-control gothic") }}
              {% for error in formDeRegistro.confirmar_senha.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-info gothic-bold">Cadastrar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary gothic-bold" data-bs-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal do Login -->
  <div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="login_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title gothic-bold" id="login_modal_label">Entrar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ url_for("login") }}" novalidate>
            {{ formDeLogin.csrf_token }}
            <div class="mb-2">
              {{ formDeLogin.apelido.label(class_="form-label gothic-bold") }}
              {{ formDeLogin.apelido(class_="form-control gothic") }}
              {% for error in formDeLogin.apelido.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2">
              {{ formDeLogin.senha.label(class_="form-label gothic-bold") }}
              {{ formDeLogin.senha(class_="form-control gothic") }}
              {% for error in formDeLogin.senha.errors %}
              <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mb-2 form-check" style="width: 50%; margin-right: auto;">
              <input name="lembrar_de_mim" class="form-check-input" type="checkbox" id="lembrar_de_mim">
              <label class="form-check-label gothic-bold" for="lembrar_de_mim">
                Lembrar de Mim?
              </label>
            </div>
            <button type="submit" class="btn btn-info gothic-bold">Entrar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary gothic-bold" data-bs-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <main class="container-fluid py-5 text-center">
    {% block main %}{% endblock %}
  </main>
</body>

{% if abrirModalDeRegistro %}
<script type="text/javascript">
  $(document).ready(function ($) {
    $('#registro_modal').modal('show');
  });
</script>
{% endif %}

{% if abrirModalDeLogin %}
<script type="text/javascript">
  $(document).ready(function ($) {
    $('#login_modal').modal('show');
  });
</script>
{% endif %}

</html>