{% extends "feed.html" %}

{% block postar %}
<button id="toggle-item-feed-postar" type="button" class="btn btn-primary lato-bold">Postar nova Proposta</button>

<div class="card mx-auto item-feed item-feed-postar">
    <div class="card-body">
        <form method="post" action="{{ url_for("feed") }}" novalidate>
            {{ formDeProposta.csrf_token }}
            <div class="row tipo-titulo">
                <div class="mb-2 div-postar-tipo" style="display: inline-block;">
                    <label class="form-label tipo-proposta-label lato-bold tamanho-padrao" for="tipo_proposta">Criar
                        um(a)</label>
                    <select class="form-select lato-regular tamanho-padrao" name="tipo_proposta" id="tipo_proposta">
                        {% for tipo, valor in tipo_proposta.items() %}
                        {% if valor == 0 %}
                        <option selected value="{{ valor }}">{{ tipo }}</option>
                        {% else %}
                        <option value="{{ valor }}">{{ tipo }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2 div-postar-titulo" style="display: inline-block;">
                    {{ formDeProposta.titulo.label(class_="form-label postar-titulo-label lato-bold tamanho-padrao") }}
                    {{ formDeProposta.titulo(class_="form-control postar-titulo lato-regular tamanho-padrao") }}
                    {% for error in formDeProposta.titulo.errors %}
                    <span class="text-danger lato-bold">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-2 row" style="width: 100%; margin-left: auto; margin-right: auto;">
                {{ formDeProposta.membro.label(class_="form-label lato-bold postar-membro-label tamanho-padrao") }}
                {{ formDeProposta.membro(class_="form-control lato-regular adicionar-membro tamanho-padrao") }}
                <button id="adicionar_membro_btn" type="button" class="btn btn-info lato-bold adicionar-membro-btn"
                    style="display: inline-block; width: fit-content; margin-left: 6px;">Adicionar</button>
                <span class="text-danger lato-bold" id="adicionar_membro_span" style="margin-top: 6px;"></span>
                <ul class="mt-3" id="lista_de_membros" style="list-style: none;">
                </ul>
                <div id="div_invisivel_membros">

                </div>
            </div>
            <div class="mb-2">
                {{ formDeProposta.descricao(class_="form-control postar-descricao lato-regular descricao-do-card") }}
                {% for error in formDeProposta.descricao.errors %}
                <span class="text-danger lato-bold">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-2" style="display: inline-block; width: 100%;">
                {{ formDeProposta.restricao_idade.label(class_="form-label restricao-idade-label lato-bold tamanho-padrao") }}
                {{ formDeProposta.restricao_idade(class_="form-control postar-restricao-idade lato-regular tamanho-padrao") }}
                {% for error in formDeProposta.restricao_idade.errors %}
                <span class="text-danger lato-bold">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mb-2 form-check" style="width: 100%; margin-left: auto; margin-right: auto;">
                <input name="privado" class="form-check-input" type="checkbox" id="privado">
                <label class="form-check-label lato-bold tamanho-padrao" for="privado" style="width: 100%; text-align: start;">
                    É privado?
                </label>
            </div>
            <br>
            <div class="mb-3 row mx-2">
                {% for categoria, valor in categorias.items() %}
                <div class="form-check col-md-4">
                    <input name="categorias" class="form-check-input" type="checkbox" value="{{ valor }}"
                        id="{{ valor }}">
                    <label class="form-check-label lato-regular" for="{{ valor }}" style="width: 100%; text-align: start;">
                        {{ categoria }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-info lato-bold"
                style="display: block; margin-left: auto;">Postar</button>
        </form>
    </div>
</div>

{% endblock %}